<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>Tickets</h3>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
       href="<%= new_ticket_path %>">
      Create new ticket
    </a>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
           style="width: 100%; margin-top: 1rem;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Seat id seq</th>
          <th class="mdl-data-table__cell--non-numeric">Address</th>
          <th class="mdl-data-table__cell--non-numeric">Price</th>
          <th class="mdl-data-table__cell--non-numeric">Email address</th>
          <th class="mdl-data-table__cell--non-numeric">Phone</th>
          <th class="mdl-data-table__cell--non-numeric">Event id</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.name %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.seat_id_seq %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.address %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.price %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.email_address %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.phone %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= ticket.event_id %></td>
            <td><%= link_to 'Show', ticket %></td>
            <% if ticket.user == current_user %>
              <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
              <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td colspan="2"></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>